<div class="page-head reveal">
  <span class="ph-k">§ POSTS</span>
  <h1><%= page.title || '所有文章' %></h1>
</div>
<div class="posts-toggle reveal">
  <button data-v="time" class="active">最新</button>
  <button data-v="cat">主題分類</button>
</div>

<div class="posts-view" id="view-time">
  <div class="acard-grid" id="postsGrid">
  <% site.posts.sort('date', -1).each(function (post) { %>
    <%- partial('_partial/acard', { post: post }) %>
  <% }) %>
  </div>
  <div class="load-more-wrap"><button type="button" id="loadMore" class="load-more">看更多</button></div>
</div>

<div class="posts-view" id="view-cat" hidden>
  <% site.categories.sort('length', -1).each(function (cat) { %>
    <div class="cat-group reveal">
      <h3 class="cat-title"><%= cat.name %><span><%= cat.length %></span></h3>
      <div class="acard-grid">
      <% cat.posts.sort('date', -1).each(function (post) { %>
        <%- partial('_partial/acard', { post: post }) %>
      <% }) %>
      </div>
    </div>
  <% }) %>
</div>
